<p>posts works!</p>
{{pageTitle}}
<form>
  <h4>Update</h4>
  <input 
      [(ngModel)]="updateData.title"
      name="title"
      type="text"
      class="form-control" />
  <button (click)="saveUpdateFunc(updateData)">+ Update</button>
</form>


<hr>

<form>
  <h4>Add</h4>
  <input 
      [(ngModel)]="formData.title"
      name="title"
      type="text"
      class="form-control" />
  <button (click)="createFunc()">+ New</button>
</form>


<hr>

<form>
  <label>Search</label>
  <input 
    [(ngModel)]="searchData.searchString"
    name="searchString"
    type="text"
    class="form-control"
    (change)="searchFunc()" />
</form>
{{ 2012 | age  }}

<div *ngIf="searchData.isSearched===true" class="table-responsive">
    <table class="table text-center table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 34%;">ID</th>
          <th style="width: 22%;">Title</th>
          <th style="width: 22%;">Tags</th>
          
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let post of posts">
          <tr>
            <td>{{post.id}}</td>
            <td>{{post.title.rendered}}</td>
            <td>{{post.tags}}</td>
            <td>{{post.date | age }}</td>
            <td>

              <a class="btn-sm" routerLink='/post/{{post.id}}'>View</a>
              <a class="btn-sm" (click)="deleteFunc(post.id)">X</a>
              <a class="btn-sm" (click)="updateFunc(post)">Edit</a>

              <span class="btn-collapse fa fa-angle-right"
                    [class.open]="currentRowExpend == rowExpendChange(post.id)"
                    [id]="post.id"                                      
                    (click)="accordionToggle(post.id)">Quick View</span>

            </td>
          </tr>
          <tr *ngIf="currentRowExpend == rowExpendChange(post.id)">
            <td colspan="8">
              <p>Date: {{post.date}}</p>
              <p>Status: {{post.status}}</p>              
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
</div>