<p>posts works!</p>

<form>
  <input 
    [(ngModel)]="searchData.searchString"
    name="searchString"
    type="text"
    class="form-control"
    (change)="searchFunc()" />
</form>

<div class="table-responsive">
    <table class="table text-center table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 34%;">ID</th>
          <th style="width: 22%;">Title</th>
          <th style="width: 22%;">Description</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.content}}</td>
          <td> <a class="btn btn-primary" routerLink='/post/{{post.id}}'>View</a> </td>
        </tr>
      </tbody>
    </table>
</div>