<p>users works!</p>

<!-- <ul>
    <li *ngFor="let user of users">
        {{user.id}} | {{user.name}} 
    </li>
</ul> -->
<section class="users-page">
    <table class="table caption-top">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th>Posts</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td></td>
            <td>{{user.id}}</td>
            <td>
              <span class="img">
                <img src="" alt="">
              </span>
              {{user.name}}</td>
            <td>{{user.roles[0]}}</td>
            <td>..//..</td>
          </tr>
        </tbody>
    </table>
</section>
