<section class="page">
    <div class="container">
        <p>product-detail works!</p>
        <div class="row" 
            *ngIf="productInfo">
            // *ngIf="productInfo" to avoid ERROR TypeError: ctx.productInfo is undefined

            <div class="product__img col-md-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    
                    <div
                        *ngIf="productInfo.images?.length !== 1" 
                        class="carousel-indicators" >

                          <button
                              *ngFor="let img of productInfo.images; let i = index"
                              type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" class="active" aria-current="true" aria-label="Slide 1">{{i}}</button>
                      
                    </div>

                    <div class="carousel-inner">
                      
                        <div  *ngFor="let image of productInfo.images; let i = index"
                              class="carousel-item" 
                              [class.active] = "i === 0">
                          <img src="{{image.src}}" alt="">
                        </div>
                      
                    </div>

                    <button
                          *ngIf="productInfo.images?.length !== 1" 
                          class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>

                    <button 
                          *ngIf="productInfo.images?.length !== 1" 
                          class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="product__cont col-md-4">
                <h4>{{productInfo.name}}</h4>
                <p>Categories: 
                  <mark *ngFor="let cata of productInfo.categories; let i = index" >
                    {{cata.name}}
                  </mark>
                </p>
                <p>Price: {{productInfo.regular_price}}</p>
                <div class="desc" [innerHTML]="productInfo.description"></div>
            </div>
        </div>
    </div>
</section>