<section class="page">
    <div class="container">
        <p>product-list works!</p>
        <div class="row">

            <h4>{{pageTitle}}</h4>

            <div
                *ngIf="errorMsg"
                class="alert alert-danger">
                {{errorMsg}}
            </div>

            <div *ngFor="let product of products"
                class="col-md-3">
                <div class="product__img">
                    <img src={{product.images[0].src}}
                    width="50" />
                </div>
                <div class="product__cont">
                    <h5>{{product.name}}</h5>
                    <span class="badge">Price: {{product.price}}</span>
                    <div class="cont"
                        [innerHTML]="product.description"></div>

                        <a routerLink='/product/{{product.id}}'>View</a>
                </div>
            </div>
            

            <nav>
                <ul class="pagination">
                    <li
                        *ngFor="let page of [].constructor(pagination.pages); let i = index"
                        class="page-item">
                        <a class="page-link" (click)="loadNewPage(i+1)" >{{i+1}}</a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>
</section>