<p>home works!</p>
{{ todayFormatedFunc }}
<hr>
{{ today | dateTimePipe }}
<hr>

<button (click)="add('1')">add</button>

<div class="tab">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation"
          id="mission" (click)="tabChange('mission')">
          <span class="nav-link">Our Mission</span>
      </li>
      <li class="nav-item" role="presentation"
          id="vision" (click)="tabChange('vision')">
          <span class="nav-link">Our Vision</span>
      </li>
      <li class="nav-item" role="presentation"
          id="about" (click)="tabChange('about')">
          <span class="nav-link">About</span>
        </li>
    </ul>
    <div class="tab-content content">
      <div class="content-value" [hidden]="currentTab != 'mission'">
        <p>Mission content...</p>
      </div>
      <div class="content-value" [hidden]="currentTab != 'vision'">
        <p>vision content...</p>
      </div>
      <div class="content-value" [hidden]="currentTab != 'about'">
        <p>about content...</p>
      </div>
    </div>
</div>