<p>contact works!</p>

<form
    (ngSubmit)="sendEmailFunc()"
    [formGroup]="form"
    >
    <label>Name</label>
    <input
        formControlName="yourName"
        id="yourName"
        type="text"
        class="form-control"
        placeholder="Please Enter Your Full Name"
        (change)="inputChangeFunc()"
        required />

    <label>Your Email</label>
    <input 
        formControlName="yourEmail"
        id="yourEmail"
        type="email"
        class="form-control"
        placeholder="Please Enter Your Address" required />

    <label>Subject</label>
    <input
        formControlName="yourSubject"
        id="yourSubject"
        type="text"
        class="form-control"
        placeholder="Please Enter Your Subject" required />

    <label>Message</label>
    <textarea 
        formControlName="yourMessage"
        id="yourMessage"
        type="text"
        class="form-control"
        placeholder="Description..."></textarea>

    <button class="btn btnCustom"
            type="submit"
            id="postsubmit"
            >Submit Data</button>

</form>